body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    

    background: url(../img/bg.png);
    font-family: "Open Sans"
    
}

a:hover {
    color: #555555;
}

a:visited {
    color: #01b1ea;
}

a {
    color: #01b1ea;
}

.video {
    text-align: center;

}