$color-uno: #007bff;
$color-dos: #6c757d;
$hover-color: #0056b3;
$background-color: #f0f0f0;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
$text-color: #333;
$button-padding: 10px 20px;
$border-radius: 5px;
$transition-duration: 0.3s;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$color-fondo: #363636;
