@media (max-width: 400px) {
    #menu {
      height: auto;
      flex-direction: column;
    }
  
    #menu ul {
      width: 100%;
      flex-direction: column;
  
      li {
        border-right: none;
        border-bottom: 1px solid #363636;
      }
    }
  
    .padreGrid {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  
    .juegos {
      flex: 1 1 100%;
      width: 100%;
    }
  
    .button {
      width: 100%;
      text-align: center;
    }
  
    h3 {
      display: none;
    }
  }
  
  @media (min-width: 501px) and (max-width: 960px) {
    .juegos {
      flex: 1 1 calc(50% - 20px);
    }
  
    .padreGrid {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
  
  @media (min-width: 769px) {
    .padreGrid {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      justify-items: center;
    }
  }